---
# TODO: stop services

- name: uninstall PostgreSQL packages
  yum: name="postgresql11-*" state=absent


# remove customized file under postgres user
- file: path=/var/lib/pgsql/.pgsql_profile state=absent
- file: path=/var/lib/pgsql/.pgpass state=absent

- name: uninstall PG-REX operation tools
  yum: name="{{ item }}" state=absent
  with_items:
    - Net_OpenSSH
    - IO_Tty
    - pg-rex_operation_tools_script

# drop DB only when DROP_DB is set to true
- name: drop the database
  file: path={{ PGDATA_PREFIX }} state=absent
  when: DROP_DB | bool

### remove firewalld configuration
- name: check if firewalld is enabled
  command: firewall-cmd --state
  changed_when: false
  failed_when: false
  register: firewalld_state

- name: remove firewalld configuration for PostgreSQL/replication (permanent)
  command: firewall-cmd --permanent --remove-service=postgresql
  register: result
  changed_when: '"NOT_ENABLED" not in result.stderr'
  when: firewalld_state.rc == 0

- name: remove firewalld configuration for PostgreSQL/replication (runtime)
  command: firewall-cmd --remove-service=postgresql
  register: result
  changed_when: '"NOT_ENABLED" not in result.stderr'
  when: firewalld_state.rc == 0

### uninstall PostgreSQL database
- name: extract major version number of PostgreSQL
  set_fact:
    pg_major: "{{ pg_rev | regex_replace('^(\\d*)\\..*', '\\1') }}"

- name: uninstall PostgreSQL packages
  yum:
    name:
      - postgresql{{ pg_major }}-libs-{{ pg_rev }}
      - postgresql{{ pg_major }}-{{ pg_rev }}
      - postgresql{{ pg_major }}-server-{{ pg_rev }}
      - postgresql{{ pg_major }}-docs-{{ pg_rev }}
      - postgresql{{ pg_major }}-contrib-{{ pg_rev }}
    state: absent
